:root {
  /*Variable de colores para la hoja*/
  --sheet-backcolor: #ffffff;
  --tittle-backcolor: #2f303a;
  --our-team: #f5f4fa;

  /*Variable de colores para el texto*/
  --logo-color: #2196f3;
  --tittle-color: #ffffff;
  --contact-color:rgba(255, 255, 255, 0.6);
}

a {
  text-decoration: none;
}

address {
  font-style: normal;
}

header {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  color: var(--logo-color);
}

.header-menu:hover,
.header-menu:focus {
  color: #2196f3;
}

body {
  font-family: 'Roboto', 'Raleway', sans-serif;
  font-weight: 700;
  background-color: var(--sheet-backcolor);
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
}

.titulo {
  background-color: var(--tittle-backcolor);
  color: var(--tittle-color);
}

.request-our-service {
  background-color: #2196f3;
  color: #ffffff;
}

.request-our-service:hover,
.request-our-service:focus {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: #ffffff;
}

.valores p {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.collaborator-name {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

.collaborator-profession {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.button-filters {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

.button-filters:hover,
.button-filters:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.project-filter {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.equipo {
  background-color: var(--our-team);
}

footer {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  background-color: var(--tittle-backcolor);
  color: var(--tittle-color);
}

.contact-footer {
  color: var(--contact-color);
}
